body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  min-width: 320px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 100px;
}

.header {
  position: relative;
  width: 1400px;
  height: auto;
  margin: 0 auto;
  background-color: #000e16;
  padding-top: 114px;
}
.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../img/header_img/back_header@1@1x.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.1;
}

.block-title {
  position: relative;
  z-index: 4;
  margin-left: 44px;
  padding-bottom: 64px;
}

.header__title {
  font-family: "Poppins", sans-serif;
  font-size: 12.65rem;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1;
  color: #ffc600;
}

.part-title {
  margin-left: -44px;
  font-size: 12.6rem;
  color: #fff;
}

.header__text {
  width: 480px;
  color: #ffffff;
  font-size: 1.125rem;
  margin-bottom: 30px;
}

.header__link {
  color: #ffc600;
  font-size: 1.125rem;
  font-weight: 400;
  text-decoration: none;
}

.hero {
  position: relative;
  z-index: 5;
  width: 1198px;
  height: 654px;
  background-image: url("../../img/header_img/back_hero@1@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 70px 44px;
}

.hero__title {
  width: 480px;
  color: #ffc600;
  font-style: normal;
  line-height: 0.8;
  font-size: 3.5rem;
  letter-spacing: -3px;
  font-weight: 700;
}
.hero__title--span {
  color: #ffffff;
  margin-left: 8px;
}

.hero__nav--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 38px;
}
.hero__nav--item {
  margin-top: 60px;
}
.hero__nav--link {
  padding: 16px 0;
  color: #ffc600;
  font-size: 1.125rem;
}
.hero__nav--link:hover, .hero__nav--link:focus, .hero__nav--link:active {
  color: #ffffff;
  text-decoration: underline;
}

.about_sub {
  width: 1400px;
  height: auto;
  margin: 0 auto;
  background-color: #000e16;
}

.about-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  width: 1198px;
  height: 260px;
  gap: 20px;
}

.block-about__title {
  border-right: 2px solid grey;
  padding: 50px 0px 50px 40px;
  width: 100%;
}
.block-about__title--sup {
  color: #717171;
  font-size: 1.875rem;
  line-height: 1;
  margin-left: 3px;
  letter-spacing: 2px;
}
.block-about__title--sub-s {
  color: #ffc600;
  font-size: 5rem;
  line-height: 0.8;
  letter-spacing: -7px;
}
.block-about__title--sub-ub {
  color: #000000;
}
.block-about__title--sub-lime {
  color: #000000;
}
.block-about__title--sub-lime::after {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  color: grey;
}

.block-about__text {
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}
.block-about__text--title {
  font-family: "Poppins", sans-serif;
  font-style: italic;
}
.block-about__text--text {
  font-size: 14px;
  color: #595959;
  letter-spacing: -0.5px;
}

.about-flex-container {
  width: 1198px;
  height: 400px;
  padding: 70px 140px 100px;
  background-color: #fff;
}

.about-flex-container__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px;
}
.about-flex-container__list--item {
  width: 280px;
  height: 198px;
  text-align: center;
}

.about-flex-container__item--logo {
  display: block;
  width: 58px;
  height: 58px;
  border: none;
  border-radius: 50%;
  border: 2px solid #ffc600;
  background-image: url("../../img/about_img/logo_joy@2x.png");
  background-repeat: no-repeat;
  background-size: 30px 20px;
  background-position: center;
  background-color: #e8e8e8;
  margin: 0 auto 16px;
}
.about-flex-container__item--title {
  font-size: 1.125rem;
  color: #000000;
  margin-bottom: 16px;
}
.about-flex-container__item--text {
  font-size: 10px;
  margin-bottom: 16px;
}

.features-project {
  width: 1400px;
  height: auto;
  margin: 0 auto;
  background-color: #000e16;
}

.features-project__nav-elements {
  height: auto;
  width: 1198px;
  background-color: #fff;
  padding-left: 80px;
  padding-bottom: 26px;
}

.features-project__nav-title {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 24px;
}
.features-project__nav-title--f {
  color: #ffc600;
  font-size: 50px;
}
.features-project__nav-title--p {
  font-size: 50px;
}

.features-project__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.features-project__nav-list--item {
  margin-right: 16px;
}
.features-project__nav-list--item:first-child {
  margin-right: 35px;
}
.features-project__nav-list--link {
  color: #101010;
  font-size: 9px;
  text-decoration: none;
  padding: 8px 0;
  position: relative;
}

.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: center;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  display: block;
  width: 50%;
  height: 2px;
  background-color: #ffc600;
}

.features-project__img-grid-containers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.strategic-project {
  width: 1400px;
  height: auto;
  margin: 0 auto;
  background-color: #000e16;
}

.strategic-project__block {
  background-color: #fff;
  padding: 66px 20px 44px 80px;
}
.strategic-project__block--title {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 24px;
}
.strategic-project__block--title-s {
  color: #ffc600;
  font-size: 50px;
}
.strategic-project__block--title-p {
  font-size: 50px;
}
.strategic-project__block--sub-title {
  color: #000000;
  font-size: 16px;
  margin-bottom: 26px;
}
.strategic-project__block--text {
  color: #595959;
  font-size: 0.875rem;
}

.strategic-project-results {
  background-color: #fff;
  padding: 0 68px 0 168px;
}
.strategic-project-results--list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.strategic-project-results--title {
  font-size: 30px;
  color: #1d1d1d;
}
.strategic-project-results--title-o {
  font-size: 50px;
}
.strategic-project-results--title-p {
  font-size: 50px;
  margin-left: 10px;
}
.strategic-project-results--sub-title {
  color: #000000;
  font-style: italic;
  font-size: 1rem;
  margin-bottom: 20px;
}
.strategic-project-results--text {
  color: #595959;
  font-size: 0.875rem;
}

.strategic-project-results--item {
  display: grid;
}

.strategic-project-results--item.four {
  grid-column: 1/2;
  grid-row: 2/3;
}

.strategic-project-results--item.three {
  grid-column: 2/3;
  grid-row: 2/3;
}

.strategic-project-results--item.two, .strategic-project-results--item.six {
  padding: 20px 10px 20px 34px;
}

.strategic-project-results--item.four {
  padding: 20px 34px 20px 10px;
}

.services {
  width: 1400px;
  height: auto;
  margin: 0 auto;
  background-color: #000e16;
}/*# sourceMappingURL=main.css.map */