.blogs{
    width: 1400px;
    height: auto;
    margin: 0 auto;
    
    background-color: #000e16;
}
.blog__block{
    width: 1200px;
    height: 550px;
    background-color: #fff;
    padding: 30px 58px;
}
.blog__elements{
    display: block;
}
.blog__elements--list{
    display: flex;
}
.blog__elements--item{
    display: block;
    padding-top:30px;
    &-title{
    color: #000000;
    font-size: 1.875rem;
    font-weight: 500;
    line-height: 1.2;
    position: relative;
    z-index: 4;
    
    align-self: flex-start;
    }
    &-title-b{
        font-size: 3.125rem;
        color: #ffc600;
        letter-spacing: -8px;
    }

}
.blog__elements--item-title::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width:100%;
    height: 4px;
    background-color:#b2adb3;
    z-index: 10;
}

.blog__elements--item:nth-child(1){
    width: 100px;
}
.blog__elements--item:nth-child(2){
    height: 460px;
    padding: 0;
    padding-top: 156px;
  
}
.blog__elements--item:nth-child(3){
    padding-top:0 ;
    margin-left: 100px;
}
.blog__elements--item:nth-child(n + 4){
   
    margin-left: 60px;
    padding-top: 0;
   
  
}
.blog-elements--link{
    display: block;
    width:180px;
    margin-bottom: 20px;
    color: #000000;
    font-size: 1.125rem;
    font-weight: 400;
    &:hover,:focus,:active{
        color:#ffc600;
    }
}
.blog-elements--item{
    &--img{
        width: 180px;
        height: 206px;
    }
  
  
}
.blog__elements-item{
    &--title{
    font-size: 18px;
    color:#ffc600;
    margin: 10px 0 26px;}
    &-sub-title{
       width:180px;
        font-size: 15px;
        font-weight: 700;
        margin-bottom: 18px;
    }
    &-text{
        width: 180px;
        font-size: 12px;
        color: #000000;
    }
}